[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

button:focus {outline:0 !important;}

#buttons {
    border-radius: 5%;
    margin-top: 10px;
    padding-bottom: 10px;
    background-color: gray;
}

#groups {

}

#sites {

}

.addbtn {
    width: 180px;
    margin: 10px 0 0 0;
}

