/* Global styles */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

button:focus {outline:0 !important;}


/* Add buttons styles */
#buttons {
    border-radius: 5%;
    margin-top: 10px;
    padding-bottom: 10px;
    background-color: gray;
}

.addbtn {
    width: 180px;
    margin: 10px 0 0 0;
}


/* Modal styles */
#groupname {
    text-transform: capitalize;
}

.checkboxes-br {
    display: block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}

/* Other styles */
#groups {
    margin-top: 10px;
    padding-bottom: 10px;
}

#sites {
    margin-top: 10px;
    padding-bottom: 10px;
}

#jsonoutput {
    margin-top: 50px;
}

.text {
    color: gray;
}
