<!DOCTYPE html>
<html data-ng-app="sitesApp">
<head lang="en">
    <meta charset="UTF-8" />
    <title>Devana Application</title>
    <!--CSS links-->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/app.css" />
</head>
<body>
<div class="container ng-cloak" data-ng-controller="SiteController">
    <div class="col-lg-3 text-center" id="buttons">
        <!--Add group and Add site buttons-->
        <button class="addbtn btn btn-lg btn-warning" data-ng-click="addGroup()">Add Group</button>
        <button class="addbtn btn btn-lg btn-warning" data-ng-click="addSite()">Add site</button>
        <!--Add group modal-->
        <script type="text/ng-template" id="add-group-template">
            <div class="modal-header">
                <h3 class="modal-title">Add Group</h3>
            </div>
            <div class="modal-body">
                <form name="addGroupForm" role="form">
                    <fieldset>
                        <div class="form-group">
                            <label for="groupname">Group Name</label>
                            <input data-ng-model="model.name" required type="text" class="form-control" id="groupname" placeholder="Enter group name" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="groupcolor">Group color</label>
                            <div class="controls">
                                <select data-ng-model="model.color" data-ng-options="color.value as color.name for color in colors" required class="form-control" id="groupcolor">
                                    <option value="">- Select a color -</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-ng-disabled="addGroupForm.$invalid" data-ng-click="saveGroup(model, addGroupForm)">Save</button>
                            <button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </script>
        <!--Add site modal-->
        <script type="text/ng-template" id="add-site-template">
            <div class="modal-header">
                <h3 class="modal-title">Add site</h3>
            </div>
            <div class="modal-body">
                <form name="addSitesForm" role="form">
                    <fieldset>
                        <div class="form-group">
                            <label for="siteurl">Site URL</label>
                            <input data-ng-model="model.url" required type="url" class="form-control" id="siteurl" placeholder="Enter site URL" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="sitecolor">Site color</label>
                            <div class="controls">
                                <select data-ng-model="model.color" data-ng-options="color.value as color.name for color in colors" required class="form-control" id="sitecolor">
                                    <option value="">- Select a color -</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="group">Groups</label><br/>
                            <label class="checkboxes-br" data-ng-repeat="group in groups">
                                <input type="checkbox" id="group" data-ng-model="model.groups[group.name]">{{group.name}}
                            </label>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-ng-disabled="addSitesForm.$invalid" data-ng-click="saveSite(model, addSitesForm)">Save</button>
                            <button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </script>
    </div>
    <!-- Groups are displayed here-->
    <div class="col-lg-3" id="groups">
        <div data-ng-repeat="group in vm.groups" data-ng-if="vm.groups.length > 0">
            <p class="well well-sm" data-ng-style="{color: group.color}">{{group.name}} <button class="btn">Edit</button> <button class="btn" data-ng-click="deleteGroup($index)">Delete</button></p>
        </div>
        <div class="text-center">
            <div class="btn" data-ng-click="addGroup()"><span class="glyphicon glyphicon-plus"></span> Add Group</div>
        </div>
    </div>
    <!-- Sites are displayed here -->
    <div class="col-lg-4" id="sites">
        <div class="text-center" data-ng-if="vm.sites.length <= 0">
            <div class="well well-sm">
                <strong class="text">You have no websites.</strong>
                <div class="btn btn-success" data-ng-click="addSite()"><span class="glyphicon glyphicon-plus"></span> Add one now!</div>
            </div>
        </div>
        <div data-ng-repeat="site in vm.sites" data-ng-if="vm.sites.length > 0">
            <p class="well well-sm" data-ng-style="{color: site.color}">{{site.url}} <button class="btn" data-ng-click="editSite()">Edit</button> <button class="btn" data-ng-click="deleteSite($index)">Delete</button></p>
        </div>
    </div>
    <!-- JSON structure toggle buttons -->
    <div class="row container">
        <div id="jsonoutput" class="col-md-12">
            <div class="col-md-6 text-center">
                <button class="btn btn-primary" data-ng-disabled="vm.groups < 1" data-ng-click="isCollapsedGroups = !isCollapsedGroups">Groups JSON output</button>
                <div collapse="isCollapsedGroups" data-ng-repeat="group in vm.groups">
                    <div class="well well-lg">{{group | json}}<br/></div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <button class="btn btn-primary" data-ng-disabled="vm.sites < 1"data-ng-click="isCollapsedSites = !isCollapsedSites">Sites JSON output</button>
                <div collapse="isCollapsedSites" data-ng-repeat="site in vm.sites">
                    <div class="well well-lg">{{site | json}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Script files-->
<script src="lib/angular/angular.js"></script>
<script src="lib/ui-bootstrap-tpls-0.12.0.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/SiteController.js"></script>

</body>
</html>
